APP_NAME=LegacyLens API
APP_ENV=production
APP_DEBUG=false

OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=legacylens-openai-index
PINECONE_NAMESPACE=nshmp-main
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o-mini
